* {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    background: transparent;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    outline: none;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
  }
  
  ol,
  ul {
    list-style: none;
  }
  
  blockquote {
    quotes: none;
  }
  
  blockquote:before,
  blockquote:after {
    content: '';
    content: none;
  }
  
  del {
    text-decoration: line-through;
  }
  
  header,
  section,
  article,-ms-flex-pack
  aside,
  nav,
  footer,
  address {
    display: block;
  }
  
  body {
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    font-size: 17px;
    color: #333;
    overflow-x: hidden;
    min-width: 320px;
  }
  
  input,
  textarea,
  select {
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  }
  
  a {
    color: #333;
    text-decoration: none;
  }
  
  a:hover,
  .submit:hover {
    filter: alpha(opacity=85);
    -moz-opacity: 0.85;
    -khtml-opacity: 0.85;
    opacity: 0.85;
  }
  
  .thumb {
    display: block;
  }
  
  .thumb img {
    display: block;
    width: 100%;
  }
  
  p {
    line-height: 1.6em;
    font-size: 16px;
    font-family: 'open_sanslight';
  }
  
  .hidden {
    display: none;
  }
  
  br.clear {
    clear: both;
    line-height: 0;
  }
  
  .left {
    float: left;
  }
  
  .right {
    float: right;
  }
  
  .wrapper {
    width: 90%;
    margin: 0 auto;
    max-width: 1200px;
  }
  
  @font-face {
    font-family: 'Open Sans';
    src: url('../src/assets/fonts/OpenSans-Medium.woff2') format('woff2'),
      url('../src/assets/fonts/OpenSans-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: 'Open Sans';
    src: url('../src/assets/fonts/OpenSans-Regular.woff2') format('woff2'),
      url('../src/assets/fonts/OpenSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: 'Open Sans';
    src: url('../src/assets/fonts/OpenSans-Bold.woff2') format('woff2'),
      url('../src/assets/fonts/OpenSans-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
  }